<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Monefay</title>
    <!--icono-->
    <link
      rel="icon"
      href="{{ url_for('static',filename='img/Logo_solito.png')}}"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css"
    />

    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <!--mi css-->
    <link
      rel="stylesheet"
      href=" {{ url_for('static',filename='styles/monefay.css')}}"
    />
  </head>
  <body>
    <nav
      class="navbar-nav-scroll navbar navbar-expand-lg flex-column flex-md-row navbar-light"
    >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-collapse justify-content-center">
          <a class="navbar-brand" href="/monefay">
            <img
              src="{{ url_for('static',filename='img/Logo_completo.png')}}"
              width="350"
              height="90"
            />
          </a>
          <h1 class="ml-4 mt-4">Hola {{ session["email"] }}</h1>
        </div>
        <div class="navbar-collapse justify-content-center">
          <form action="/salir">
            <button type="submit" class="btn btn-outline-light btn-lg mr-sm-3">
              Salir
            </button>
          </form>
        </div>
      </div>
    </nav>
    <!--main seccion-->
    <div class="mw-100 mt-3">
      <ul
        class="nav nav-pills justify-content-around mb-3 ml-5 mr-5"
        id="pills-tab"
        role="tablist"
      >
        <li class="nav-item" role="presentation">
          <a
            id="linkCuenta"
            class="nav-link active"
            id="pills-home-tab"
            data-toggle="pill"
            href="#pills-home"
            role="tab"
            aria-controls="pills-home"
            aria-selected="true"
            >Cuentas</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="pills-profile-tab"
            data-toggle="pill"
            href="#pills-profile"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="false"
            >Crear Cuenta</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="pills-contact-tab"
            data-toggle="pill"
            href="#pills-contact"
            role="tab"
            aria-controls="pills-contact"
            aria-selected="false"
            >Algo mas</a
          >
        </li>
      </ul>
    </div>

    <!--contenido de las pestanias -->
    <div class="contenido tab-content" id="pills-tabContent">
      <!--seccion 1.1-->
      <div class="tab-pane fade" id="cuenta" role="tabpanel">
        <h1 id="cuentaDni"></h1>
      </div>
      <!--seccion 1-->
      <div
        class="tab-pane fade show active"
        ria-labelledby="pills-home-tab"
        role="tabpanel"
        id="pills-home"
      >
        <!--filtro-->
        <nav class="">navigation links</nav>
        {%with messages = get_flashed_messages(with_categories=true)%} {%if
        messages%} {%for category, message in messages%}
        <div class="alert {{ category }} " role="alert" id="idMensajeError">
          <h4 class="text-center">{{ message }}</h4>
        </div>
        {%endfor%} {%endif%} {%endwith%}
        <!--cajas -->
        <div class="container mw-100 mt-4">
          <div class="row mw-100">
            {%for dato in datos%}
            <div class="container col-4">
              <div class="modal-dialog text-center">
                <div class="col-sm-8 main-section">
                  <div class="modal-content">
                    <div class="col-12 user-img">
                      <img
                        class="img-fluid"
                        src="static/img/{{dato.2}}"
                        th:src="@{/img/{{dato.2}}}"
                      />
                    </div>
                    <h4 class="LetrasCrear text-left">DNI:</h4>
                    <h4 class="LetrasCrear">{{dato.0}}</h4>
                    <h4 class="LetrasCrear">{{dato.1}}</h4>
                    <h4 class="LetrasCrear text-left">Limite de cuenta</h4>
                    <h4 class="LetrasCrear text-left">${{dato.3}}</h4>
                    <a
                      type="button"
                      class="mb-3 mt-3 btn btn-primary"
                      id="{{dato.0}}"
                      onClick="activacion('{{dato.0}}')"
                      href="/monefay/{{dato.0}}"
                      role="tab"
                      >Perfil</a
                    >

                    <button
                      type="button"
                      class="mb-3 btn btn-primary"
                      data-toggle="modal"
                      data-target="#exampleModal"
                      onClick="DNI('{{dato.0}}')"
                    >
                      Eliminar
                    </button>
                  </div>
                </div>
              </div>
            </div>
            {%endfor%}
          </div>
        </div>
      </div>

      <!--seccion 2-->
      <div
        class="tab-pane fade"
        aria-labelledby="pills-home-tab"
        role="tabpanel"
        id="pills-profile"
      >
        <div>
          <form action="/cuentaRes" method="POST" id="formulario">
            <div class="row mw-100">
              <!--izquierda-->
              <div class="col-7">
                <!--arriba izquierda-->
                <div class="container">
                  <div class="main-section ml-3 mr-3">
                    <div class="modal-content">
                      <div class="row">
                        <div
                          class="col-4 imgenRefHuman mt-3"
                          style="line-height: 263px"
                        >
                          <h4 class="LetrasCrear">Foto de perfil</h4>

                          <!--carrucel-->
                          <div
                            id="carouselCarachter"
                            class="carousel slide mb-3"
                            data-interval="false"
                            data-ride="carousel"
                          >
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img
                                  src="static/img/hombre-01.png"
                                  class="d-block w-100"
                                />
                              </div>
                              <div class="carousel-item">
                                <img
                                  src="static/img/mujer-01.png"
                                  class="d-block w-100"
                                />
                              </div>
                            </div>
                            <input
                              type="text"
                              name="perfil"
                              id="perfimg"
                              value="hombre-01.png"
                              style="display: none"
                            />
                            <a
                              class="carousel-control-prev"
                              href="#carouselCarachter"
                              role="button"
                              data-slide="prev"
                              onClick="perfilImg()"
                            >
                              <span
                                class="carousel-control-prev-icon"
                                aria-hidden="true"
                              ></span>
                              <span class="sr-only">Previous</span>
                            </a>

                            <a
                              class="carousel-control-next"
                              href="#carouselCarachter"
                              role="button"
                              data-slide="next"
                              onClick="perfilImg()"
                            >
                              <span
                                class="carousel-control-next-icon"
                                aria-hidden="true"
                              ></span>
                              <span class="sr-only">Next</span>
                            </a>

                            <!--fin carrucel-->
                          </div>
                        </div>
                        <!--primera columnas de datos-->
                        <div class="col-4 mt-4">
                          <div>
                            <h3 class="LetrasCrear">Nombre</h3>
                            <div class="form-group" id="user-group">
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Nombre"
                                pattern="[a-zA-z]+"
                                required=""
                                name="name"
                              />
                            </div>
                          </div>
                          <div>
                            <h3 class="LetrasCrear">Primer Apellido</h3>
                            <div class="form-group" id="user-group">
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Primer Apellido"
                                pattern="[a-zA-z]+"
                                required=""
                                name="lastnameF"
                              />
                            </div>
                          </div>
                          <div>
                            <h3 class="LetrasCrear">Segundo Apellido</h3>
                            <div class="form-group" id="user-group">
                              <input
                                type="text"
                                class="form-control"
                                placeholder="lastnameM"
                                pattern="[a-zA-z]+"
                                required=""
                                name="lastnameM"
                              />
                            </div>
                          </div>
                        </div>
                        <!--segunda columa de datos-->
                        <div class="col-4 mt-4">
                          <div>
                            <h3 class="LetrasCrear">Dni</h3>
                            <div class="form-group" id="user-group">
                              <input
                                type="text"
                                class="form-control"
                                placeholder="DNI"
                                pattern="[0-9]+"
                                required=""
                                name="dni"
                              />
                            </div>
                          </div>
                          <div>
                            <h3 class="LetrasCrear">Telefono</h3>
                            <div class="form-group" id="user-group">
                              <input
                                type="text"
                                class="form-control"
                                placeholder="telefono"
                                pattern="[0-9]+"
                                required=""
                                name="phone"
                              />
                            </div>
                          </div>
                          <div>
                            <h3 class="LetrasCrear">Correo</h3>
                            <div class="form-group" id="user-group">
                              <input
                                type="email"
                                class="form-control"
                                placeholder="Correo"
                                name="email"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Cuadro de abajo a la izquierda-->
                <div class="container">
                  <div class="main-section ml-3 mr-3">
                    <div class="modal-content">
                      <div class="row">
                        <!--primera linea de datos-->
                        <div class="col-6 mt-3 mb-3">
                          <div>
                            <h3 class="LetrasCrear">Departamento</h3>
                            <div class="form-group" id="user-group">
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Departamento"
                                pattern="[a-zA-Z]+"
                                name="Departamento"
                              />
                            </div>
                          </div>
                          <div>
                            <h3 class="LetrasCrear">Distrito</h3>
                            <div class="form-group" id="user-group">
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Distrito"
                                pattern="[a-zA-Z]+"
                                required=""
                                name="Distrito"
                              />
                            </div>
                          </div>
                          <div>
                            <h3 class="LetrasCrear">Lote</h3>
                            <div class="form-group" id="user-group">
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Lote"
                                name="lote"
                              />
                            </div>
                          </div>
                        </div>
                        <!--segunda columna de datos-->
                        <div class="col-6 mt-3 mb-3">
                          <div>
                            <h3 class="LetrasCrear">Manzana</h3>
                            <div class="form-group" id="user-group">
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Manzana"
                                name="Manzana"
                              />
                            </div>
                          </div>
                          <div>
                            <h3 class="LetrasCrear">Calle</h3>
                            <div class="form-group" id="user-group">
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Calle"
                                required=""
                                name="calle"
                              />
                            </div>
                          </div>
                          <div>
                            <h3 class="LetrasCrear">Numero de casa</h3>
                            <div class="form-group" id="user-group">
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Numero"
                                name="NumerodeCasa"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--fin de arriba izquierda-->
              <!--derecha-->
              <div class="col-5">
                <div class="container">
                  <div class="main-section">
                    <div class="modal-content">
                      <div>
                        <h3 class="LetrasCrear mt-3">Tipo de tasa</h3>
                        <div class="form-group" id="user-group">
                          <select name="tipoTasa" class="form-control">
                            <option value="Tasa Nominal">Tasa Nominal</option>
                            <option value="Tasa Efectiva">Tasa Efectiva</option>
                          </select>
                        </div>
                      </div>

                      <div>
                        <h3 class="LetrasCrear">Porcentaje de interes</h3>
                        <div class="form-group" id="user-group">
                          <!--required=""-->
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Porcentaje"
                            pattern="[0-9]+"
                            name="porcentTasa"
                          />
                        </div>
                      </div>
                      <div>
                        <h3 class="LetrasCrear">Limite de la linea</h3>
                        <div class="form-group" id="user-group">
                          <!--required=""-->
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Limite de la linea"
                            pattern="[0-9]+"
                            name="limite"
                          />
                        </div>
                      </div>
                      <div>
                        <h3 class="LetrasCrear">Monto de mantenimiento</h3>
                        <div class="form-group" id="user-group">
                          <!--required=""-->
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Monto de Mantenimiento"
                            pattern="[0-9]+"
                            name="montoMantenimiento"
                          />
                        </div>
                      </div>
                      <div>
                        <h3 class="LetrasCrear">Mantenimiento de cuenta</h3>
                        <div class="form-group" id="user-group">
                          <select name="Mantenimiento" class="form-control">
                            <option value="Diario">Diario</option>
                            <option value="Semanal">Semanal</option>
                            <option value="Mensual">Mensual</option>
                            <option value="Anual">Anual</option>
                          </select>
                        </div>
                      </div>
                      <div>
                        <h3 class="LetrasCrear">Tipo de divisa</h3>
                        <div class="form-group" id="user-group">
                          <select class="form-control" name="divisa">
                            {%for divisa in divisas%}
                            <option value="{{divisa.0}}">{{divisa.1}}</option>
                            {%endfor%}
                          </select>
                        </div>
                      </div>
                      <div>
                        <h3 class="LetrasCrear">Periodo Interes</h3>
                        <div class="form-group" id="user-group">
                          <select class="form-control" name="Periodo">
                            {%for Periodo in Periodos%}
                            <option value="{{Periodo.0}}">{{Periodo.1}}</option>
                            {%endfor%}
                          </select>
                        </div>
                      </div>
                      <div>
                        <h3 class="LetrasCrear">Periodo Mantenimiento</h3>
                        <div class="form-group" id="user-group">
                          <select class="form-control" name="PeriodoMantenimiento">
                            {%for Periodo in Periodos%}
                            <option value="{{Periodo.0}}">{{Periodo.1}}</option>
                            {%endfor%}
                          </select>
                        </div>
                      </div>
                      <div>
                        <h3 class="LetrasCrear">Fecha de cierre</h3>
                        <div class="form-group">
                          <!--required=""-->
                          <input
                            type="date"
                            name="cierre"
                            min="2018-01-01"
                            max="2018-12-31"
                          />
                        </div>
                      </div>
                      <div>
                        <h3 class="LetrasCrear">Costo de activacion</h3>
                        <div class="form-group" id="user-group">
                          <!--required=""-->
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Costo de activacion"
                            pattern="[0-9]+"
                            name="CostoActivacion"
                          />
                        </div>
                      </div>
                      <h2 class="text-center LetrasCrear">Crear cuenta</h2>
                      <!-- Button trigger modal -->
                      <div class="row text-center mb-4">
                        <div class="col">
                          <button type="reset" class="col-12 btn btn-warning">
                            Cancelar
                          </button>
                        </div>
                        <div class="col">
                          <button type="submit" class="col-12 btn btn-primary">
                            Confirmar
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!--seccion 3-->
      <div class="tab-pane fade" role="tabpanel" id="pills-contact"></div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade LetrasCrear"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirma</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h4 class="text-center">Confirme el DNI a eliminar</h4>
            <h4 class="text-center" id="comfirDNI"></h4>
            <form id="dni">
              <div class="form-group" id="contrasena-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="DNI"
                  required=""
                  pattern="[0-9]+"
                  id="inputDNI"
                />
              </div>
            </form>
            <h5
              id="advertencia"
              class="alert alert-warning"
              style="display: none"
            >
              No coincide el dni con el que se quiere borrar
            </h5>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              form="contra"
              data-dismiss="modal"
            >
              Cancelar
            </button>
            <button
              id="Save"
              onClick="confirmar()"
              type="button"
              class="btn btn-primary"
              form="dni"
            >
              Save changes
            </button>
          </div>
        </div>
      </div>
    </div>
    <script src="static/js/monefay.js"></script>
    <!--scripts de bootstrap-->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
