<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!--bootstrap-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css"
    />
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link
      rel="stylesheet"
      href=" {{ url_for('static',filename='styles/register.css')}}"
    />
    <title>Registrate</title>
  </head>
  <body>
    <nav class="navblur navbar navbar-expand-lg flex-column navbar-light">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarNavAltMarkup"
      >
        <div class="navbar-collapse justify-content-center">
          <a class="navbar-brand" href="/">
            <img
              src="{{ url_for('static',filename='img/Logo_Talvez.png')}}"
              width="250"
              height="90"
            />
          </a>
        </div>
      </div>
    </nav>
    <!--aqui comienza el registro-->
    <div class="container modal-content-centered text-center">
      <div class="col main-section">
        <div class="modal-content">
          <h1 class="text-white text-center">Registrate</h1>
          <p class="text-white">Completa los datos</p>
          <form
            class="row justify-content-center"
            action="/registrar"
            method="POST"
          >
            <div class="col-4 columna1">
              <div class="form-group" id="user-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nombres"
                  name="username"
                  value="{{ user }}"
                />
              </div>
              <div class="form-group" id="user-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Apellido paterno"
                  name="lastnameF"
                  value="{{ lastnameF }}"
                />
              </div>
              <div class="form-group" id="user-group">
                <input
                  type="text"
                  class="form-control"
                  name="lastnameM"
                  value="{{ lastnameM }}"
                  placeholder="Apellido materno"
                />
              </div>
            </div>
            <div class="col-4 columna2">
              <div class="form-group" id="user-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="DNI"
                  name="DNI"
                />
              </div>
              <div class="form-group" id="contrasena-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Contraseña"
                  name="password"
                />
              </div>
              <div class="form-group" id="contrasena-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Confirme contraseña"
                  name="passwordConfirm"
                />
              </div>
            </div>

            <div class="col-4 columna3">
              <div class="form-group" id="email-group">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Correo"
                  name="email"
                  value="{{ email }}"
                />
              </div>
              <div class="form-group" id="user-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="RUC"
                  name="RUC"
                />
              </div>
              <div class="form-group" id="user-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nombre de la tienda"
                  name="store"
                  value="{{ store }}"
                />
              </div>
            </div>

            <div class="col-6 mt-4">
              <button type="submit" class="btn btn-primary">
                <h3>Registrar</h3>
              </button>
            </div>
            <div class="col-12 forgot">
              <a href="/login">Iniciar session</a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--scripts de bootstrap-->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
